<h1>Index of Pirates</h1>
{{#each pirates}}
<h3>{{name}}</h3>
<ul>
  <li>Birthplace: {{birthplace}}</li>
  <li>Died: {{death_year}}</li>
  <li>Based in: {{base}}</li>
  <li>Nickname: {{nickname}}</li>
</ul>
{{/each}}
